@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
}

.navbar {
    background: #000;
    font-size: 1.5rem;
}
.navbar .navbar-brand {
    color: #fd7a00 !important;
    font-size: 2rem;
}
.navbar .navbar-brand:hover {
    color: #fff !important;
}
.navbar li:hover {
    border-bottom: 2px solid #fd7a00;
}

.banner {
    background: url('../img/banner.jpg') no-repeat center center/cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content h2{
    font-size: 4rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.content h1 {
    font-size: 2.5rem;
    color: #fd7a00;
    text-align: center;
}

.sidebar {
    background: url(../img/training.jpg) no-repeat center center/cover;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.sidebar .sub-main-text {
    padding-bottom: 2.5rem;
}
.sidebar .sub-main-text h3 {
    font-size: 3rem;
    font-family: 'Bebas Neue',  cursive;
    color: #fff;
    font-weight: 400;
}
.sidebar .sub-main-text h1 {
    font-size: 4.5rem;
    font-family: 'Bebas Neue',  cursive;
    color: #fff;
}
.sidebar .sub-main-text button {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 0 30px;
    line-height: 41px;
    position: relative;
    border: 2px solid #fff;
    z-index: 1;
    font-size: 14px;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.sidebar .sub-main-text button:hover {
    cursor: pointer;
    background: #ff6600;
}
.sidebar .sub-main-text button a {
    color: #fff;
    text-decoration: none;
}

.twin1 {  
    background: url(../img/services.jpeg) no-repeat center center/cover;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .twin1 .fitness-grupal {
    padding: 2rem;
  }
  .twin1 .fitness-grupal h1 {
    font-size: 4rem;
    color: #ff6600;
    font-weight: 400;
}
.twin1 .fitness-grupal button {
  display: inline-block;
    color: #fff;
    background: #000;
    padding: 0 30px;
    line-height: 41px;
    position: relative;
    border: 2px solid #fff;
    z-index: 1;
    font-size: 14px;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.twin1 .fitness-grupal button:hover {
  cursor: pointer;
  background: #ff6600;
}

.row {
    display: flex;
    justify-content: center;
}

.promotion { 
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;
  }
  .promotion .icons {
    display: flex;
    flex-direction: column;
  }
  .promotion .icons p {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .promotion .icons p i {
    color: rgb(0, 162, 255);
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }

  .carousel-control-next, .carousel-control-prev {
      border: 2px solid black !important;
      height: 50px;
      background: #000 !important;
      margin: auto;
}
.carousel .content-banner {
    background: url(../img/boxing.jpeg) no-repeat center center/cover;
}
.carousel .content-banner h1 {
    font-size: 4rem;
    color: #fff;
}
.carousel .content-banner button {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 0 30px;
    line-height: 41px;
    position: relative;
    border: 2px solid #fff;
    z-index: 1;
    font-size: 14px;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.carousel .content-banner button:hover {
    cursor: pointer;
    background: #ff6600;
}

.membership-section {
    background: url(../img/membership.jpg) no-repeat center center/cover;
    height: 600px;
}
.membership-section h1 {
    font-size: 4rem;
    color: #fff;
}
.membership-section span {
    color: #fd7a00;
}
.membership-section button {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 0 30px;
    line-height: 41px;
    position: relative;
    border: 2px solid #fff;
    z-index: 1;
    font-size: 14px;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.membership-section button:hover {
    cursor: pointer;
    background: #ff6600;
}

.subscription {
    background-color: #dfdfdf;
}
.subscription h1 span {
    color: #fd7a00;
}
.subscription-content button {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 0 30px;
    line-height: 41px;
    position: relative;
    border: 2px solid #fff;
    z-index: 1;
    font-size: 14px;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.subscription-content button:hover {
    cursor: pointer;
    background: #ff6600;
}

/* SHOP SECTION */
.shop-banner {
    background: url(../img/shop.jpg) no-repeat center center/cover;
    height: 600px;
}
.shop-banner h1 {
    font-size: 4rem;
    color: #fff;
    border-bottom: 2px solid #fd7a00;
}
.shop-banner p {
    font-size: 1.5rem;
}
.shop-banner p a:hover {
    color: #fd7a00 !important;
}
.btn-warning {
    background: #fd7a00 !important;
}
.btn-warning:hover {
    background: #ff6600 !important;
}


/* SERVICES SECTION */
.services-banner {
    background: url(../img/services.jpeg) no-repeat center center/cover;
    height: 600px;
}
.services-banner h1 {
    font-size: 4rem;
    color: #fff;
}
.services-banner span {
    color: #fd7a00;
}

/* MEMBERSHIP SECTION */
.member-banner {
    background: url(../img/membership.jpg) no-repeat center center/cover;
    height: 600px;
}
.member-banner h1 {
    font-size: 4rem;
    color: #fff;
}

.join-flex-left h3 {
    font-size: 2.5rem;
}
.join-flex-left span {
    color: #fd7a00;
}
.join-flex-left p {
    font-size: 1.5rem;
}

.join-flex-right h3 {
    font-size: 2.5rem;
}
.join-flex-right input {
    width: 300px;
    height: 41px;
}
.join-flex-right button {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 0 30px;
    line-height: 41px;
    position: relative;
    border: 2px solid #fff;
    z-index: 1;
    font-size: 14px;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.join-flex-right button:hover {
    cursor: pointer;
    background: #ff6600;
}

/* CONTACT SECTION */
.form h1 {
    font-size: 3rem;
    border-bottom: 2px solid #fd7a00;
}
.form input, textarea {
    width: 300px;
}
.form button {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 0 30px;
    line-height: 41px;
    position: relative;
    border: 2px solid #fff;
    z-index: 1;
    font-size: 14px;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.form button:hover {
    cursor: pointer;
    background: #ff6600;
}

/* FOOTER */

.footer {
    font-size: 1rem;
    text-align: center; 
    padding-top: 2rem;
    padding: 2rem;
    background-color: #000;
    color: #fff;
  }
.footer .social-icons ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
.footer .social-icons a {
    font-size: 1.5rem;
    color: #ffff;
    list-style: none;
    text-decoration: none;
    margin: 1rem;
}
.footer .social-icons a:hover {
    color: #fd7a00;
}

@media (min-width: 1100px) {
    .banner {
        height: 700px;
    }

    .sidebar, .twin1 {
        height: 650px;
    }

    .promotion {
        font-size: 1.5rem;
    }

    .carousel {
        height: 945px;
    }
    .carousel .content-banner {
        height: 945px;
    }

    .form input, textarea {
        width: 450px;
    }
}