@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
}

/* VARIABLES */
@import './utilities/colors';

/* IMPORTS */
@import './sections/index';
@import './sections/shop';
@import './sections/services';
@import './sections/membership';
@import './sections/contact';
@import './sections/footer';

/* UTILITIES */
@import './utilities/extend';
@import './utilities/mixin';
@import './utilities/map';