@import '../utilities/colors';

/* FOOTER */
.footer {
    font-size: 1rem;
    text-align: center; 
    padding-top: 2rem;
    padding: 2rem;
    background-color: $primary-color;
    color: #fff;
  }
.footer .social-icons ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
.footer .social-icons a {
    font-size: 1.5rem;
    color: #ffff;
    list-style: none;
    text-decoration: none;
    margin: 1rem;
}
.footer .social-icons a:hover {
    color: $secondary-color;
}