@import '../utilities/_colors.scss';

@mixin button ($primary-color, $secondary-color) {
    display: inline-block;
    color: #fff;
    background: $primary-color;
    padding: 0 30px;
    line-height: 41px;
    position: relative;
    border: 2px solid #fff;
    z-index: 1;
    font-size: 14px;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
        &:hover {
            cursor: pointer;
            background: $secondary-color;
        }
}